.Window{
    border: 2px solid #000;
    border-bottom: 0px ;
    border-radius: 20px;
    margin: auto;
    width: 48%;
    margin-top: 20px;
}
.Developing{
    border: 2px solid #000;
    background-color: #4CAF50;
    border-radius: 20px;
    cursor: pointer;

}
.Developing:hover{
    background-color: #45a049;
}
.Castle{
    padding: auto;
    width: 100%;
    overflow: auto;

}
.P{
    text-align: left;
    margin: 1px;
    margin-left: 10px
}
.T{

}
@media( max-width:800px){
    .Window{
        width: 90%;
    }
}
