.styleBuilder{
    max-height:auto;
    overflow: auto;
    margin-bottom: 110px;
}
@media( max-width:800px){
    .styleBuilder{
        overflow: auto;
        width: 100%;
        margin-bottom: 130px;
    }
}
