.add{
    height: 30px;
    width: 30px;
    margin:auto;
    border:dashed 2px green;
    border-radius: 10px;
    text-align: center;
    color: green;
}

.typeBrick{
    background-image: url("../../../../components/Castle/Brick/pictures/stoneBrick0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
